.blue{
  background-color: blue;
  fill: blue;
  color: blue;
}

.red{
  background-color: red;
  fill: red;
  color: red;
}

.green{
  background-color: green;
  fill: green;
  color: green;
}

.grey{
  background-color: grey;
  fill: grey;
  color: grey;
}
